@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

.next-step-section {
  width: 100vw;
  background: linear-gradient(0deg, #1a0033 60%, #1a0033 100%);
  padding: 2rem 0 0rem 0;
  position: relative;
  z-index: -1;
  height: 858px;
  font-family: "Roboto", "Inter", Arial, sans-serif;
}

.next-step-section .title {
  font-size: 70px;
  font-weight: 400;
  text-align: left;
  font-family: "Rebond Grotesque", "Roboto", "Inter", Arial, sans-serif;
  margin-bottom: 4rem;
  color: #fff;
  letter-spacing: -2%;
  width: 750px;
  position: relative;
  padding-left: 10rem;
  top: -2rem;
}

.highlight-career {
  color: #bc4af6;
  font-weight: 700;
  font-style: italic;
}

.highlight-steps {
  color: #bc4af6;
  font-weight: 700;
  font-style: italic;
}

.steps-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
  position: relative;
  z-index: 1;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  position: relative;
}

.step-content {
  position: relative;
  left: 7rem;
  top: -1rem;
}

.dotted-arrow {
  width: 62px;
  height: 86px;
  object-fit: contain;
  margin-bottom: 1rem;
  align-self: center;
  left: 7rem;
  top: 2rem;
  position: relative;
}

.step-3 {
  top: 10.5rem;
  left: -18rem;
}

.step-3 .step-desc {
  width: 198px;
  color: #f4f0f8;
  font-size: 18px;
  line-height: 126%;
}

.step-3 .step-number {
  top: 7.5rem;
  left: 7.5rem;
}

.step-2 {
  top: 6.8rem;
  left: -10rem;
}

.step-2 .step-desc {
  width: 198px;
  font-size: 18px;
  font-weight: 400;
  line-height: 126%;

  color: #f4f0f8;
}

.step-2 .step-number {
  left: 7rem;
  top: 7rem;
}

.step-1 {
  top: 4rem;
  left: -3rem;
}

.step-1 .step-desc {
  width: 201px;
  font-size: 18px;
  font-weight: 400;
  line-height: 126%;
  color: #f4f0f8;
}

.step-1 .step-content {
  top: -2.3rem;
}

.step-1 .step-number {
  left: 7.5rem;
  top: 7.5rem;
}

.step-0 .step-desc {
  width: 173px;
  font-size: 18px;
  font-weight: 400;
  line-height: 126%;
  color: #f4f0f8;
  font-family: "Roobert", "Inter", Arial, sans-serif;
}

.step-0 .dotted-arrow {
  position: relative;
}

.step-0 {
  top: 0.5rem;
  left: 4rem;
}

.step-0 .step-number {
  top: 7rem;
  left: 7rem;
}

.step-title {
  color: #4d9944;
  font-weight: 600;
  font-size: 18px;
  font-family: "Rebond Grotesque", sans-serif;
  width: 208px;
}

.next-step-section .step-number {
  font-size: 52px;
  font-family: "Roobert Semi-Bold", sans-serif;
  font-weight: 600;
  opacity: 0.15;
  color: #fff;
  position: absolute;
  bottom: -2.5rem;
  left: 6rem;
}
